body {
  background: linear-gradient(to right,
      hsl(307, 85.5%, 56.7%,
        1) 0%,
      hsl(179, 100%, 76.9%,
        1) 100%);
  /* w3c */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}